@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    text-align: center;
  }
  
  .container {
    max-width: 570px;
    margin: 0 auto;
    padding: 40px;
  }
  

  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  .container {
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  h1 {
    flex-basis: 100%; 
    margin-right: 10px; 
  }
  .container h1 span {
    color: #883f04;
}
  
  nav ul {
    display: flex; 
    list-style-type: none;
    justify-content: center; 
    flex-basis: 100%; 
    margin-top: 10px;
  }
  
  
  
  h1 {
    font-size: 46px;
  }

  
  nav li {
    display: inline;
    margin-right: 20px;
    font-size: 34px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease, font-size 0.3s ease; 
    cursor: pointer;
  }
  
  nav a:hover {
    color: #6e2406;
  }
  .logo {
    width: 40px;
    height: 40px; 
  }
  
  
  
  .hero {
    background-image: url('hero.jpg');
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h2 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .boton {
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .boton:hover {
    background-color: #555;
  }
  

#N-menu {
  text-align: center;
}

#menu {
    text-align: center; 
    background-color: #f8f8f8;
    padding: 60px 0;
  }
  
 .container {
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; 
}
  
  .menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-items: center; 
  }
  
  
  
  
  .menu-item {
    box-shadow: #333 30px;
    margin-bottom: 20px;
  }
  
  .menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    transition: transform 0.3s ease;
  }
  
  .menu-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .menu-item p {
    font-size: 18px;
    color: #777;
  }
  
  .menu-item img:hover {
    transform: translateY(-10px);
  }
  
  

  .menu-item img:hover {
    transform: translateY(-10px);
  }
  
  

  #nosotros {
    padding: 60px 0;
  }

  #contacto {
    background-color: #eee;
    padding: 60px 0;
  }
  
  h2, p {
    text-align: center;
  }
  

 
  

  @media screen and (max-width: 768px) {
    .container .navbar {
      justify-content: center;
      padding-bottom: 40px;
      margin: 500px;
    }
  
    .navbar ul {
      display: flex; 
      font-size: 15px;
    }
    
  
    .navbar li {
      margin-right: 5px;
      font-size: 130px;
    }
  
    h1 {
      font-size: 30px; 
    }
    .container {
      width: 100%;
      display: flex;
      flex-wrap: wrap; 
      align-items: center;
      justify-content: space-between; 
    }
    
    .navbar ul {
      flex-basis: 100%;
      margin-top: 10px;
      display: none; 
    }
    
    .navbar li {
      margin-right: 10px;
    }
    
    .navbar a {
      text-decoration: none;
      color: #333;
      size: 150px;
    }
  }
  
  footer {
    transition: color 0.3s ease, font-size 0.3s ease; 
    cursor: pointer; 
}

footer:hover {
    color: red; 
    font-size: 1.2em; 
}
  